extends ./layout.jade

block content
  nav.navbar.navbar-default
    .container-fluid
      .navbar-header
        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        img.navbar-brand(src="images/BPro.png") 
      .collapse.navbar-collapse
        .navbar-form.navbar-right(role='search')
          form
            .form-group
              input.form-control(type='text', placeholder='Search')
            button.btn.btn-default(type='submit') Submit
        ul.nav.navbar-nav.navbar-right
          li
            a(href='/explore') Explorar
  .container
    .jumbotron.text-center
      h3 Inscribete a nuestro nuevo curso
    .col-md-10.col-md-offset-1
      a.category(href="/category/softskill")
        .category-name.text-center
          | Soft skill
        .category-content
          .category-info.text-center
            | 1 cursos
      a.category(href="/category/programming")
        .category-name.text-center
          | Programación
        .category-content
          .category-info.text-center
            | 0 cursos
      a.category(href="/category/aministration")
        .category-name.text-center
          | Administración
        .category-content
          .category-info.text-center
            | 0 cursos
  
  
