html
  head
    title BPro - Conocimiento que sí necesitas
    link(rel="stylesheet" href="lib/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet" href="lib/font-awesome/css/font-awesome.min.css")
    link(rel="stylesheet" href="lib/bootstrap-social/bootstrap-social.css")
    link(rel="stylesheet" href="css/main.css")
      
    script(src="lib/bootstrap/dist/js/bootstrap.min.js")
  
  body
    block content
  
    footer.footer.text-center
      .container
        | sdasas
