extends ./layout.jade

block content
  nav.navbar.navbar-default
    .container-fluid
      .navbar-header
        button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#bs-example-navbar-collapse-1', aria-expanded='false')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
        img.navbar-brand(src="images/BPro.png") 
      .collapse.navbar-collapse
        .navbar-form.navbar-right(role='search')
          form
            .form-group
              input.form-control(type='text', placeholder='Search')
            button.btn.btn-default(type='submit') Submit
        ul.nav.navbar-nav.navbar-right
          li
            a(href='/explore') Explorar
  
  .container
    .page-header
      h3
        | Vistos recientemente
    br
    .page-header
      h3
        | Mis cursos 
    br
    .page-header
      h3
        | Videos similares
