extends ./layout.jade
block content
  a.btn.btn-default.pull-right(href="/login") Iniciar sesión
  .login.absolute-center
    .login-title.text-center
      img(src="images/bepro_black.jpg", alt="Bpro", width="80px")
    .login-content
      h4 Registrarse
      form(action="/signup" method="post")
        .row
          .col-md-12
            .form-group
              input.form-control(type='email', placeholder='email' name="email")
        .row
          .col-md-8
            .form-group
              input.form-control(type='password', placeholder='password' name="password")
          .col-md-4.col-sm-12
            button.btn.btn-default(type="submit") Registrar
      br
      button.btn.btn-block.btn-social.btn-facebook(href="/out/facebook")
        i.fa.fa-facebook
        |  Sign up with Facebook
      a.btn.btn-block.btn-social.btn-twitter
        i.fa.fa-twitter
        |  Sign up with Twitter
      a.btn.btn-block.btn-social.btn-linkedin
        i.fa.fa-linkedin
        |  Sign up with LinkedIn
  footer.footer.text-center
    .container
      | sdasas
