body{
  font-family: Tahoma,Arial,Helvetica,Sans,Times,sans-serif;
}
.navbar{
  background: rgba(51,67,70, 0.9) !important;
}
.navbar-brand{
  width: 128px;
  height: auto;
  position: relative;
  left: 40px;
}
a{
  color: #c0cdcf !important
}
a:hover{
  color: #3bbbd2 !important
}

.login{
  width: 350px;
  height: 420px;
  border: 1px #B1B1B1 solid;
  background: white;
  margin: 0 auto;
  border-radius: 10px;
}
.login-title{
  border-bottom: 1px #B1B1B1 solid;
  padding: 10px;
}
.login-content{
  padding: 10px;
}
.absolute-center {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  overflow: hidden;
}
.categories{
  width: 60%;
  margin: 0 auto;
}
.category{
  display: inline-block;
  background-color: #F5F5F5;
  color: #262626 !important;
  width: 175px;
  height: 175px;
  margin: 15px;
  cursor: pointer;
}
.category:hover{
  color: #262626 !important;
  text-decoration: none;

}
.category:hover .category-name{
    display: none;
    transition: 1s background-color;
}
.category:hover .category-content{
    display: block;
    transition: 1s background-color;
}
.category-name{
  position: relative;
  top: 50%;
  display: block;
}
.category-content{
  display: none;
  height: 100%;
  background-color: rgba(51,67,70, 0.9) !important;
}
.category-info{
  position: relative;
  top: 50%;
}

.footer{
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: #f5f5f5;
}
